@smartphone:                ~'only screen and (max-width: 479px)';
@xs-device:                 ~'only screen and (max-width: 767px)';
@no-xs-device:              ~'only screen and (min-width: 768px)';
@sm-device:                 ~'only screen and (min-width: 768px) and (max-width: 991px)';
@sm-or-above-device:        ~'only screen and (min-width: 768px)';
@md-device:                 ~'only screen and (min-width: 992px) and (max-width: 1199px)';
@md-or-above-device:        ~'only screen and (min-width: 992px)';
@no-lg-device:              ~'only screen and (max-width: 1200px)';
@lg-device:                 ~'only screen and (min-width: 1200px)';

@font-family-base:          Calibri,Candara,Segoe,'Segoe UI',Optima,Arial,sans-serif;
@basic-font-size:           1em;
@black-color:               #333333;
@green-color:               green;
@red-color:                 red;
@yellow-color:              yellow;