@import "lib.less";

html {
    height: 100%;
    font-size: 100%;
}

body{
    font-size: @basic-font-size;
    font-family: @font-family-base;
    font-weight: 100;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    min-width: 320px;
    color: @black-color;
    
    @media @smartphone {
        font-size: 0.9em !important;
    }
}    
h1, h2, h3, h4, h5 {
    font-family: @font-family-base;
}

.green {
    color: @green-color;
}
.red {
    color: @red-color;
}
.yellow {
    color: @yellow-color;
}
.processing {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(255,255,255,0.1);
    opacity: 1;
    z-index: 0;
    top: 0;
    left: 0;
    
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    
    & > i {
        color: @black-color;
        width: 70px;
        height: 70px;
        text-align: center;
        line-height: 70px;
    }
}

@iterations: 30;
.loop(@i) when (@i > 0) {

    .padding-@{i} {
        padding: ~'@{i}px !important';
    }
    
    .padding-vertical-@{i} {
        padding-top: ~'@{i}px !important';
        padding-bottom: ~'@{i}px !important';
    }
    
    .padding-horizontal-@{i} {
        padding-left: ~'@{i}px !important';
        padding-right: ~'@{i}px !important';
    }
    
    .padding-left-@{i} {
        padding-left: ~'@{i}px !important';
    }
    
    .padding-right-@{i} {
        padding-right: ~'@{i}px !important';
    }
    
    .padding-top-@{i} {
        padding-top: ~'@{i}px !important';
    }
    
    .padding-bottom-@{i} {
        padding-bottom: ~'@{i}px !important';
    }
    
    .margin-@{i} {
        margin: ~'@{i}px !important';
    }
    
    .margin-vertical-@{i} {
        margin-top: ~'@{i}px !important';
        margin-bottom: ~'@{i}px !important';
    }
    
    .margin-horizontal-@{i} {
        margin-left: ~'@{i}px !important';
        margin-right: ~'@{i}px !important';
    }
    
    .margin-left-@{i} {
        margin-left: ~'@{i}px !important';
    }
    
    .margin-right-@{i} {
        margin-right: ~'@{i}px !important';
    }
    
    .margin-top-@{i} {
        margin-top: ~'@{i}px !important';
    }
    
    .margin-bottom-@{i} {
        margin-bottom: ~'@{i}px !important';
    }
    
    .loop(@i - 5);
}
.loop(0){
    .no-padding {
        padding: 0 !important;
    }
    
    .no-padding-vertical {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    
    .no-padding-horizontal {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .no-padding-left {
        padding-left: 0 !important;
    }
    
    .no-padding-right {
        padding-right: 0 !important;
    }
    
    .no-padding-top {
        padding-top: 0 !important;
    }
    
    .no-padding-bottom{
        padding-bottom: 0 !important;
    }
    
    .no-margin {
        margin: 0 !important;
    }
    
    .no-margin-vertical {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    
    .no-margin-horizontal {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
    .no-margin-left {
        margin-left: 0 !important;
    }
    
    .no-margin-right {
        margin-right: 0 !important;
    }
    
    .no-margin-top {
        margin-top: 0 !important;
    }
    
    .no-margin-bottom {
        margin-bottom: 0 !important;
    }
}
.loop(@iterations);

.padding-horizontal-10 {
    padding-left: 10px;
    padding-right: 10px;
    & > [class*='col-'] {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.summary {
    line-height: 34px;
    
    .list-inline {
        margin-bottom: 0;
    }
}
.pagination {
    margin: 0;
}
