<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="{{ _charset }}">
        <!--meta name="robots" content="noindex,nofollow" /-->
        
        <!-- Force latest IE rendering engine or ChromeFrame if installed -->
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        
        <meta name="description" content="description here" />
        <meta name="keywords" content="keywords here" />

        <title>Technical Test</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>

        {% block stylesheets %}
            {% stylesheets filter='?yui_css'
                '@AppBundle/Resources/public/js/library/angular/chart/angular-chart.min.css'
                '@AppBundle/Resources/public/less/main.less' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        
        <style>
        /* Hide Angular JS elements before initializing */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
        </style>
    </head>
    
    <body data-base-url="{{ app.request.baseurl }}">
        
        <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]--> 
        
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="{{ asset('@WedlyAssetBundle/Resources/public/js/library/respond/dest/respond.min.js') }}"></script>
        <script src="{{ asset('@WedlyAssetBundle/Resources/public/js/library/es5-shim/es5-shim.js') }}"></script>
        <script src="{{ asset('@WedlyAssetBundle/Resources/public/js/library/json3/lib/json3.min.js') }}"></script>
        <![endif]-->
        
        <!-- ui-view container -->
        <div class="container">
        {% block content %}{% endblock %}
        </div>

        <script src="{{ asset('bundles/app/js/rconfig.js') }}"></script>
        <script src="{{ asset('bundles/app/js/library/requirejs/require.js') }}" data-main="{{ asset('bundles/app/js/main.js') }}"></script>

    </body>
</html>
