{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        
        <h1>Technical Test </h1>
        
        <div ui-view="root" class="margin-top-20"></div>
    </div>
</div>
{% endblock %}
