html {
  height: 100%;
  font-size: 100%;
}
body {
  font-size: 1em;
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  min-width: 320px;
  color: #333333;
}
@media only screen and (max-width: 479px) {
  body {
    font-size: 0.9em !important;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}
.green {
  color: green;
}
.red {
  color: red;
}
.yellow {
  color: yellow;
}
.processing {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(255,255,255,0.1);
  opacity: 1;
  z-index: 0;
  top: 0;
  left: 0;
}
.processing:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.processing > i {
  color: #333333;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
}
.padding-30 {
  padding: 30px !important;
}
.padding-vertical-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.padding-horizontal-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.padding-left-30 {
  padding-left: 30px !important;
}
.padding-right-30 {
  padding-right: 30px !important;
}
.padding-top-30 {
  padding-top: 30px !important;
}
.padding-bottom-30 {
  padding-bottom: 30px !important;
}
.margin-30 {
  margin: 30px !important;
}
.margin-vertical-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.margin-horizontal-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.margin-left-30 {
  margin-left: 30px !important;
}
.margin-right-30 {
  margin-right: 30px !important;
}
.margin-top-30 {
  margin-top: 30px !important;
}
.margin-bottom-30 {
  margin-bottom: 30px !important;
}
.padding-25 {
  padding: 25px !important;
}
.padding-vertical-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.padding-horizontal-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.padding-left-25 {
  padding-left: 25px !important;
}
.padding-right-25 {
  padding-right: 25px !important;
}
.padding-top-25 {
  padding-top: 25px !important;
}
.padding-bottom-25 {
  padding-bottom: 25px !important;
}
.margin-25 {
  margin: 25px !important;
}
.margin-vertical-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
.margin-horizontal-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}
.margin-left-25 {
  margin-left: 25px !important;
}
.margin-right-25 {
  margin-right: 25px !important;
}
.margin-top-25 {
  margin-top: 25px !important;
}
.margin-bottom-25 {
  margin-bottom: 25px !important;
}
.padding-20 {
  padding: 20px !important;
}
.padding-vertical-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.padding-horizontal-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.padding-left-20 {
  padding-left: 20px !important;
}
.padding-right-20 {
  padding-right: 20px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.padding-bottom-20 {
  padding-bottom: 20px !important;
}
.margin-20 {
  margin: 20px !important;
}
.margin-vertical-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.margin-horizontal-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.margin-left-20 {
  margin-left: 20px !important;
}
.margin-right-20 {
  margin-right: 20px !important;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.padding-15 {
  padding: 15px !important;
}
.padding-vertical-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.padding-horizontal-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.padding-left-15 {
  padding-left: 15px !important;
}
.padding-right-15 {
  padding-right: 15px !important;
}
.padding-top-15 {
  padding-top: 15px !important;
}
.padding-bottom-15 {
  padding-bottom: 15px !important;
}
.margin-15 {
  margin: 15px !important;
}
.margin-vertical-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.margin-horizontal-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.margin-left-15 {
  margin-left: 15px !important;
}
.margin-right-15 {
  margin-right: 15px !important;
}
.margin-top-15 {
  margin-top: 15px !important;
}
.margin-bottom-15 {
  margin-bottom: 15px !important;
}
.padding-10 {
  padding: 10px !important;
}
.padding-vertical-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.padding-horizontal-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.padding-left-10 {
  padding-left: 10px !important;
}
.padding-right-10 {
  padding-right: 10px !important;
}
.padding-top-10 {
  padding-top: 10px !important;
}
.padding-bottom-10 {
  padding-bottom: 10px !important;
}
.margin-10 {
  margin: 10px !important;
}
.margin-vertical-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.margin-horizontal-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.margin-left-10 {
  margin-left: 10px !important;
}
.margin-right-10 {
  margin-right: 10px !important;
}
.margin-top-10 {
  margin-top: 10px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.padding-5 {
  padding: 5px !important;
}
.padding-vertical-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.padding-horizontal-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.padding-left-5 {
  padding-left: 5px !important;
}
.padding-right-5 {
  padding-right: 5px !important;
}
.padding-top-5 {
  padding-top: 5px !important;
}
.padding-bottom-5 {
  padding-bottom: 5px !important;
}
.margin-5 {
  margin: 5px !important;
}
.margin-vertical-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.margin-horizontal-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.margin-left-5 {
  margin-left: 5px !important;
}
.margin-right-5 {
  margin-right: 5px !important;
}
.margin-top-5 {
  margin-top: 5px !important;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.no-padding {
  padding: 0 !important;
}
.no-padding-vertical {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.no-padding-horizontal {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.no-margin-vertical {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.no-margin-horizontal {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.padding-horizontal-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.padding-horizontal-10 > [class*='col-'] {
  padding-left: 5px;
  padding-right: 5px;
}
.summary {
  line-height: 34px;
}
.summary .list-inline {
  margin-bottom: 0;
}
.pagination {
  margin: 0;
}
