<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <form name="serverlist">
            <div class="form-group">
                <label for="list" class="control-label">Server List</label>
                <select id="list" name="list" class="form-control" ng-model="server" ng-options="s.id as s.name for s in servers"></select>
            </div>
        </form>
    </div>
    
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div ng-show="summary">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="summary">
                        <ul class="list-inline">
                            <li><i class="fa fa-circle green"></i> Max: [[ summary.max_value ]]</li>
                            <li><i class="fa fa-circle red"></i> Min: [[ summary.min_value ]]</li>
                            <li><i class="fa fa-circle yellow"></i> Avg: [[ summary.avg_value ]]</li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-sm-6 col-xs-12">
                    <div class="pagination pull-right">
                        <select id="pagination" name="pagination" class="form-control" ng-model="pointPerPage" ng-options="p.id as p.name for p in points">
                        </select>
                    </div>
                </div>
            </div>
        
            <div class="line-chart">
                <div class="margin-vertical-10" ng-show="pointPerPage > 0">
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="prev pull-left" ng-click="prev()" ng-show="offset - pointPerPage >= 0"><i class="fa fa-backward"></i></button>
                            <button class="next pull-right" ng-click="next()" ng-show="offset + pointPerPage < totalData.length"><i class="fa fa-forward"></i></button>
                        </div>
                    </div>
                </div>
                <canvas id="line" class="chart chart-line"
                    chart-data="data" chart-labels="labels"></canvas>
            </div>
        </div>
    </div>
</div>